<nav class="navbar">
  <div class="navbar-container">

    <!-- Left: Logo + Site Name -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
  <img src="{{ site.baseurl }}/assets/img/favicon/logo.svg" 
       alt="Ubipanas"
       class="brand-logo">
</a>

    <!-- Right: Nav links -->
    <ul class="navbar-links">
      <li class="nav-item">
         <a class="nav-link" href="{{ site.baseurl }}/tentang-ubipanas/">Tentang Ubipanas</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{{ site.baseurl }}/hubungi-kami/">Hubungi Kami</a>
     </li>
     <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/penafian/">Penafian</a>
     </li>
    <li class="nav-item">
      <a class="nav-link highlight" href="https://content.paralltec.com/about" target="_blank">Perlukan Service Menulis?</a>
   </li>
    </ul>

  </div>
</nav>